body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f6ceca;
  }

  .caixaCadastro {
    width: 300px;
    height: 400px;
    background-color: #e4e4e4;
    border: 1px solid #e4e4e4;
    margin: auto;
    display: block;
    border-radius: 30px;
  }

  .container {
    width: auto;
    border: 5px solid transparent;
    display: flex;
    justify-content:space-evenly;
    height: auto;
    align-items: center;
  }  

  .EscritaFiore{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #a4a0a0;
    font-size: 50px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
  }

  .Escrita {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-align: center;
    font-size: 20px;
    margin: 0;
    display: block;
    }
